wincross/*
export/*
build/*
# Prerequisites
**.d

# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
**.exe
**.out
**.app

# Directories
/bin
/hooks
/info
/CMakeFiles
/config
/.vscode
/cpp_modules
/build*
/tests
/boost-1.82.0/**
/.cache
/scripts/build
/src/astrobwtv3/build
/src/astrobwtv3/export
/lib/astrospsa/
/export/
/_deps/

# Xelis rust resources
/src/xelis-hash/**.rs
/src/xelis-hash/**.toml
/src/xelis-hash/**.lock
/src/xelis-hash/target

/src/xelis-hash/xelis-hash-v2.cpp

# tnn_hip build files
/src/tnn_hip/build
/src/tnn_hip/linux

# Misc
**.txt

!CMakeLists.txt
# Blake3
!/extern/BLAKE3/c/CMakeLists.txt
# SPSA
!/src/astrobwtv3/CMakeLists.txt
# tnn-hip
!/src/tnn_hip/CMakeLists.txt
