# Prerequisites
**.d

# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
**.exe
**.out
**.app

# Directories
/bin
/hooks
/info
/CMakeFiles
/config
/.vscode
/cmake
/cpp_modules
/build
/tests
/boost-1.82.0/**
/.cache
/scripts/build

# Xelis rust resources
/src/xelis-hash/**.rs
/src/xelis-hash/**.toml
/src/xelis-hash/**.lock
/src/xelis-hash/target

/src/xelis-hash/xelis-hash-v2.cpp

# Misc
**.txt
# Blake3
!/lib/BLAKE3/c/CMakeLists.txt
